html(lang="ko")
  include ../templates/partials/head
  body
    include ../templates/partials/header

    block content

    include ../templates/partials/footer

    script(src="js/main.js")