header
  div.header__inner
    h1.logo
      a(href="" title="메인으로")
        img(src="img/common/logo.png") 
    ul.lnb.bar-list
      li
        a(href="#none") 
    ul.gnb__depth1
      li
        a(href="#none" title="coffee") coffee
        div.gnb__depth2
          h2 커피
          ul 
            li 
              a(href="#none" title) 스타벅스 원두
            li 
              a(href="#none" title) 스타벅스 비아
            li 
              a(href="#none" title) 스타벅스앳홈 by 캡슐
            li 
              a(href="#none" title) 나와 어울리는 커피
      li
        a(href="#none" title="menu") menu
      li
        a(href="#none" title="store") store
      li
        a(href="#none" title="responsibility") responsibility
      li
        a(href="#none" title="starbucks rewards") starbucks rewards
      li
        a(href="#none" title="corporate sales") corporate sales
      li
        a(href="#none" title="what's new") what's new
    