/*** color ***/
/* main color */ 

/* black */
$white: #fff;
$black: #000;
$black-1: #111;
$black-2: #222;
$black-3: #333;
$black-4: #444;
$black-5: #555;

$mainFontColor: $black-3;

// $secondary: $gray-300 !default;
// $success: $green !default;
// $info: $light-blue !default;
// $warning: $red !default;
// $danger: $danger !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;



// starbucks color palette

$beige: #f6f5ef !default;
$green: #046241 !default;
$green-1: #690 !default;
$background: #2c2a29;


// stylelint-disable value-keyword-case
$font-family-base: 'Noto Sans SC',
'Noto Sans HK',
'Noto Sans KR',
sans-serif !default;
